body {
    font-family: Arial;
}

.palette {
    float: left;
    width: 10vmin;
}

.painting {
    float: left;
    width: 90vmin;
    height: 90vmin;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 2px;
}

.pixel {
    float: left;
    height: 5%;
    width: 5%;
}

.color-choice {
    font-size: 100px;
    cursor: pointer;
}

#blue {
    color: blue;
}
#red {
    color: red;
}
#yellow {
    color: yellow;
}
#green {
    color: green;
}
#purple {
    color: purple;
}
.button {
    font-size: 25px;
    width: 8vmin;
    padding: 15px 8px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 9px #999;
}
.button:hover {
    background-color: darkgray;
    color:white;
}
.button:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}